@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

/* @theme dark {
  :root {
    color: white;
    background-color: black;
  }
} */

@theme{
  --color-primary: #ff0000;
  --color-primary-dark: #0d0d0d;
}

/* Remove scrollbar (optional) */
::-webkit-scrollbar {
  display: none;
}

/* Full screen setup */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Body should grow when content grows */
body {
  min-height: 100vh;
  background-color: #f3f4f6; 
}

/* React root must also grow */
#root {
  min-height: 100vh;
}
